body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

/* Button size */
.MuiDataGrid-cell .MuiButton-root {
  color: white;
  padding: 5px 10px;
}

.MuiDataGrid-cell .MuiButton-root > span {
  margin-right: 5px;
  margin-left: 0;
}
