name: Release

on:
  release:
    types: [ created ]
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/release.yaml"
jobs:
  publish-images:
    if: startsWith(github.ref, 'refs/tags/v') == true
    runs-on: ubuntu-18.04
    permissions:
      id-token: write   # This is the key for OIDC!
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
      - uses: sigstore/cosign-installer@main
      - id: get_version
        run: |
          RELEASE_VERSION=$(echo $GITHUB_REF | sed -nE 's!refs/tags/!!p')
          echo "::set-output name=release_version::$RELEASE_VERSION"
      - name: Get Docker tags
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: |
            loftsh/vcluster-dd-extension
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push the image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.GH_ACCESS_TOKEN }}
      - name: Images digests
        run: echo ${{ steps.docker_build.outputs.digest }}
      - name: Sign Container Image
        run: |
          COSIGN_EXPERIMENTAL=1 cosign sign --force loftsh/vcluster-dd-extension@${{ steps.docker_build.outputs.digest }}
